node_modules
npm-debug.log
.next
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.eslintrc.yml
.prettierrc.yml
.prettierignore
.env
env-configmap.yaml
mongo-deployment.yaml
mongo-service.yaml
web-deployment.yaml
web-service-yaml
TODO
README.md
