apiVersion: v1
data:
    ADMIN_EMAIL: john_doe@foo.bar
    ADMIN_NAME: root
    ADMIN_PASSWORD: '1234'
    JWT_SECRET: AyxzYJiioXnYEv4XG35LE4dUjeSNGrHi7gDxC
    MONGO_DB: nextjs
    MONGO_HOST: mongodb://localhost:27017
    SMTP_HOST: smtp.url.com
    SMTP_PASSWORD: smtp.foo.bar
    SMTP_PORT: '465'
    SMTP_SECURE: 'true'
    SMTP_USER: john_doe@foo.bar
kind: ConfigMap
metadata:
    creationTimestamp: null
    labels:
        io.kompose.service: web-env
    name: env
