:root {
    --dark-blue: #6805f2;
    --dark-purple: #6f04d9;
    --purple: #8245bf;
    --dark-cyan: #05f29b;
    --cyan: #b7f7df;
    --background-color: #f9eff2;
    --dark-yellow: #f2cb05;
    --yellow: #f7e68f;
    --font-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

body * {
    color: var(--font-color);
}

a {
    color: var(--dark-blue);
    text-decoration: none;
    cursor: pointer;
}

input {
    display: block;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='time'],
input[type='date'] {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type='color'] {
    height: 40px;
    padding: 0px;
}

select {
    width: 100%;
}

button {
    color: var(--background-color);
    background-color: var(--dark-purple);
    border: 1px solid var(--dark-purple);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

button:hover {
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

.activeButton {
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
