:root {
    --main-color: #006d99;
    --main-light-color: #4cc7ba;
    --accent-color: #e53c68;
    --accent-light-color: #ff8033;
    --background-color: rgb(250, 237, 236);
    --font-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

a {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button {
    color: #ffffff;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
