:root {
    --dark-purple-color: #6F04D9;
    --purple-color: #8245BF;
    --dark-cyan-color: #05F29B;
    --cyan-color: #B7F7DF;
    --background-color: #F2F2F2;
    --yellow-color: #F2CB05;
    --font-color: #333333;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

body * {
    color: var(--font-color);
}

a {
    color: var(--yellow-color);
    text-decoration: none;
    cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='time'],
input[type='date'] {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--background-color);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

select {
    width: 100%;
}

button {
    color: var(--background-color);
    background-color: var(--dark-purple-color);
    border: 1px solid var(--dark-purple-color);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

button:hover {
    background-color: var(--purple-color);
    border: 1px solid var(--purple-color);
}

.activeButton {
    background-color: var(--purple-color);
    border: 1px solid var(--purple-color) ;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/iconfont/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
        url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    cursor: pointer;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.material-icons:hover {
    color: var(--yellow-color);
}
