body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    color: #ffffff;
    background-color: red;
    border: 2px solid;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
}