.month {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.monthHeader {
    font-size: 20px;
    text-align: center;
    background-color: #333333;
    color: #ffffff;
}

/* same as .hour */

.monthDay {
    height: 50px;
    width: auto;
    color: #333333;
    border-bottom: 2px solid #ffffff;
    background-color: #ddffdd;
}

.monthDay:hover {
    cursor: pointer;
    background-color: #92b492;
}

.week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.weekDay {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.weekDayHeader {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    color: #ffffff;
    background-color: #333333;
}

.hour {
    height: 50px;
    width: 150px;
    color: #333333;
    border-bottom: 2px solid #ffffff;
    background-color: #ddffdd;
}

.hour:hover {
    cursor: pointer;
    background-color: #92b492;
}