.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lecture {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        'header header'
        'date date'
        'time time'
        'course course'
        'room room'
        'semester semester';
    grid-template-rows: auto;
    row-gap: 1rem;
    padding: 1rem;
    border: 1px solid rgb(255, 254, 254);
    background-color: rgb(255, 254, 254);
    border-radius: 4px;
    width: 50vw;
    margin-top: 2rem;
}

.lecture h1 {
    grid-area: header;
}

@media only screen and (max-width: 600px) {
    .lecture {
        width: auto;
    }
}
