.lectureForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    border: solid 2px #0000002f;
    border-radius: 1rem;
    background-color: #fff;
}

.lectureForm div {
    width: 100%;
    margin-bottom: 1rem;
}
