.month {
    display: grid;
    grid-template-columns: repeat(7, 10%);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.header {
    font-size: 20px;
    text-align: center;
}

/* same as .hour */

.day {
    height: 50px;
    width: auto;
    border-bottom: 2px solid black;
}

/* remove day name, because it takes to much space on mobile devicees */
@media only screen and (max-width: 600px) {
    .dayHeader {
        display: none;
    }
}

.day:hover {
    cursor: pointer;
}
