.month {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* same as .hour */

.day {
    height: 50px;
    width: 150px;
    padding: 4px;
    border-bottom: 1px solid var(--dark-purple);
}

.dayHeader {
    width: 150px;
    height: 50px;
    position: sticky;
    top: 0;
    padding: 4px;
    background-color: var(--dark-yellow);
}

@media only screen and (max-width: 600px) {
    .dayHeader {
        display: none;
    }
    .month {
        grid-template-columns: repeat(2, 50%);
    }

    .day {
        width: 100%;
        border-bottom: 1px solid var(--dark-purple);
    }
}
