.month {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

/* same as .hour */

.day {
    height: 60px;
    width: 100px;
    border-bottom: 1px solid var(--dark-purple);
}

/* adjusting calendar for smartphones */
@media only screen and (max-width: 600px) {
    .dayHeader {
        display: none;
    }

    .month {
        grid-template-columns: repeat(3, auto);
    }
}

.day:hover {
    cursor: pointer;
}
