.weekContainer {
}

.header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.week {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    justify-content: center;
    column-gap: 5px;
    row-gap: 5px;
}

.dayHeader {
    width: 150px;
    height: 50px;
    position: sticky;
    top: 0;
    padding: 4px;
    background-color: var(--dark-yellow);
}

.hour {
    margin: 4px;
    position: relative;
    height: 50px;
    width: 150px;
    color: var(--font-color);
    border-bottom: 1px solid var(--dark-purple);
}

@media only screen and (max-width: 600px) {
    .week {
        grid-template-columns: repeat(1, 100%);
    }

    .dayHeader {
        width: 100%;
    }

    .hour {
        width: 100%;
    }
}
