.week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.dayHeader {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #333333;
    color: #fff;
}

.hour {
    height: 50px;
    width: 150px;
    color: #333333;
    border-bottom: 2px solid black;
}

.hour:hover {
    cursor: pointer;
}
