.weekContainer {
}

.header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.week {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.day {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .day {
        width: 100%;
    }
}

.header {
    font-size: 20px;
    text-align: center;
}

.dayHeader {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}
