/*
 * This css file is beeing used by login.jsx and register.jsx.
 * Both the login and register should have the same styling
 * and don't differ to much from each other (one form in the center in the screen).
 */

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--cyan);
    padding: 1rem;
    border: 1px solid var(--cyan);
    border-radius: 4px;
}

.loginForm div {
    width: 100%;
    margin-bottom: 1rem;
}

.loginButton {
    float: right;
}
