.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--cyan-color);
    padding: 1rem;
    border: 1px solid var(--cyan-color);
    border-radius: 4px;
}

.loginForm div {
    width: 100%;
    margin-bottom: 1rem;
}

.loginButton {
    float: right;
}
