.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loginForm div {
    width: 100%;
}

.loginForm div {
    margin-bottom: 1rem;
}

.loginButton {
    float: right;
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
}
